{% extends 'base.html' %}
{% load artigos_extras %}
{% load comments %}
{% block titulo %}{{artigo.titulo|safe}}{% endblock %}
{% block conteudo %}
<article>
    <header>
        <h2>{{artigo.titulo|safe}}</h2>
        <p class="blog-post-meta">
            <time pubdate>{{artigo.pub_date}}</time> Por <a rel="author" href="#">{{artigo.autores|autores}}</a> de {{artigo.agencia}}
        </p>
    </header>
    <div>
    <p>{{artigo.conteudo|safe}}</p>
    </div>
</article>
<div id="comments" class="comments-area">
    <div id="respond" class="comments-respond">
        {% render_comment_form for artigo %}
    </div>
</div>
{% endblock %}