{% extends 'base.html' %}

{% block conteudo %}
  {% if artigos %}
      {% for artigo in artigos %}
        <div class="blog-post">
            <h2 class="blog-post-title"><a href="/artigo/{{artigo.url}}">{{artigo.titulo|safe}}</a></h2>
            <p class="blog-post-meta">{{artigo.pub_date}}</p>
            <div>
              <p>{{artigo.conteudo|safe}}</p>
            </div>
        </div>
      {% endfor %}
  {% else %}
    <p>Não há artigos</p>
  {% endif %}

  <!-- PAGINADOR -->
  <ul class="pager">
    {% if paginacao.has_previous %}
      <li><a href="/paginacao/{{paginacao.previous_page_number}}">« Anterior</a></li>
    {% else %}
      <li class="disabled"><a href="#">« Anterior</a></li>
    {% endif %}
    {% if paginacao.has_next %}
      <li><a href="/paginacao/{{ paginacao.next_page_number }}">Próximo »</a></li>
    {% else %}
      <li class="disabled"><a href="#">Próximo »</a></li>
    {% endif %}
  </ul>
  <!-- PAGINADOR -->
{% endblock %}