{% extends 'base.html' %}
{% block titulo %}Pesquisa{% endblock %}
{% block conteudo %}
    {% if erro %}
        <p style="color: red;">Por favor, informe um termo para a pesquisa!</p>
    {% endif %}
    <div class="form-horizontal">
    <form action="/pesquisa/" method="get">
        <div class="form-group">
            <input class="form-control col-md-10" type="text" placeholder="Informe um texto" name="q" />
        </div>
        <div class="col-md-offset-3 col-md-10 lead">
            <button type="submit" class="btn btn-primary lead">Pesquisar</button>
        </div>
    </form>
</div>
{% endblock %}